:root{
    --primary-color:red;
    --secondary-color:white;
    --third-color:black;
}

.setting-2{
    margin-top: 10%;
    text-align: center;
}
.input-1{
    padding-top: 10px;
    padding-bottom: 10px
}
.input-2{
    padding-top: 10px;
    padding-bottom: 10px
}
.input-3{
    margin-top: 17px;
}

button{
    background-color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 95px;
    padding-right: 95px;
    margin-left: 500px;
    font-size: x-large;
}
.nxt-btn-3{
    color: var(--secondary-color);
}

